/* CSS declarations go here */
body {
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  font-family: 'Open Sans', 'Droid Sans', sans-serif;
  font-size: 14px;
}

.footer{
  max-width: 90%;
  margin-left: 100%;
  margin: 0 auto;
  min-height: 95%;
  float: center;
}

textarea {
    width: 90%;
    height: 90%;
}

.pure-button{
  margin-top: 1%;
  margin-bottom: 1%;
}

.container {
  max-width: 90%;
  margin-left: 100%;
  min-height: 95%;
  vertical-align: center;
}

header {
  background: #B76B74;
  background-color: white;
  padding: 20px 15px 15px 15px;
  position: relative;
}

a{
  color: #1B1D26;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

.list{
  width: 80%;
  text-align: center;
  float: center;
}

.name{
  vertical-align: text-bottom;

}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  border-bottom: #eee solid 1px;
}

.editable{
  font-style: italic;
  color: gray;
  min-height: 100px;
  background-color: white;
}

li .text {
  margin-left: 40%;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
